azure-core
azure-storage-blob
numpy
openpyxl
pandas
phonenumbers
pyarrow
django
djangorestframework
django-heroku
gunicorn
django-q
whitenoise
django-contactforms
django-rest-framework
mysql
mysqlclient
pandas
